body {
	background-color: grey;
}
.test_js {
	width:700px;
	height: 600px;
	background-color: #ffffff;
	margin:0 auto;
	padding: 20px 100px;
	box-sizing:border-box;
	font-family:Arial, sans-serif;
}
.title {
	margin:0 auto;
	width:100%;
}
.menu {
	margin-left: 0px;
	font-size: 24px;
	font-weight: bold;
	list-style: none;
}
.menuLi {
   font-size: 20px;
   font-weight: normal;
}
 input[type="checkbox"] {
	-webkit-appearance: none;
	background-color: #98dafb;
	border: 2px solid #444b7e;
	padding: 5px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}
 input[type="checkbox" ]:checked {
	background-color: #98dafb;
	border: 2px solid #444b7e;
	color: #99a1a7;
}
 input[type="checkbox" ]:checked:after {
	content: '\2714';
	font-size: 10px;
	position: absolute;
	top: -2px;
	left: 2px;
	color: #000000;
}
.button-input[type="submit"] {
	width: 100px;
	margin-left: 45%;
	background-color: #98dafb;
	border-color: #444b7e;
}