/* dropDownMenuigation style */

#dropDownMenu{
	height: 39px;
	font: 12px Geneva, Arial, Helvetica, sans-serif;
	background: #00ff00;
	border: 1px solid #30A097;	
	border-radius: 3px;
	min-width:500px;
	margin-left: 0px;
	padding-left: 0px;
}	

#dropDownMenu li{
	list-style: none;
	display: block;
	float: left;
	height: 40px;
	position: relative;
	border-right: 1px solid #52BDB5;
}

#dropDownMenu li a{
	padding: 0px 10px 0px 30px;
	margin: 0px 0;
	line-height: 40px;
	text-decoration: none;
	border-right: 1px solid #389E96;
	height: 40px;
	color: #FFF;
	text-shadow: 1px 1px 1px #66696B;
}

#dropDownMenu ul{
	background: #f2f5f6; 
	padding: 0px;
	border-bottom: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-left:1px solid #DDDDDD;
	border-radius: 0px 0px 3px 3px;
	box-shadow: 2px 2px 3px #ECECEC;
	-webkit-box-shadow: 2px 2px 3px #ECECEC;
    -moz-box-shadow:2px 2px 3px #ECECEC;
	width:170px;
}
#dropDownMenu .menuLevel_1,#dropDownMenu .menuLevel_1:hover{
	padding-left: 10px;
	padding-right: 10px;
	color: #FFF;
	text-shadow: 1px 1px 1px #66696B;
	font: italic 20px/38px Georgia, "Times New Roman", Times, serif;
	width: 160px;
	border-right: 1px solid #52BDB5;
}
#dropDownMenu .menuLevel_1 a{
	width: 150px;
	text-align: center;
	overflow:hidden;
}

#dropDownMenu li:hover{
	background: #3BA39B;
}
#dropDownMenu li a{
	display: block;
}
#dropDownMenu ul li {
	border-right:none;
	border-bottom:1px solid #DDDDDD;
	width:170px;
	height:39px;
}
#dropDownMenu ul li a {
	border-right: none;
	color:#6791AD;
	text-shadow: 1px 1px 1px #FFF;
	border-bottom:1px solid #FFFFFF;
}
#dropDownMenu ul li:hover{background:#DFEEF0;}
#dropDownMenu ul li:last-child { border-bottom: none;}
#dropDownMenu ul li:last-child a{ border-bottom: none;}
/* Sub menus */
#dropDownMenu ul{
	display: none;
	visibility:hidden;
	position: absolute;
	top: 40px;
}

/* Third-level menus */
#dropDownMenu ul ul{
	top: 0px;
	left:170px;
	display: none;
	visibility:hidden;
	border: 1px solid #DDDDDD;
}
/* Fourth-level menus */
#dropDownMenu ul ul ul{
	top: 0px;
	left:170px;
	display: none;
	visibility:hidden;
	border: 1px solid #DDDDDD;
}

#dropDownMenu ul li{
	display: block;
	visibility:visible;
}
#dropDownMenu li:hover > ul{
	display: block;
	visibility:visible;
}