.conteiner{
    margin: 0 auto;
    background: url(../img/images.jpg) no-repeat 0 0;
    background-size: cover;
    background-position:  center;
    border-bottom: 1px solid transparent;
}
.title{
    text-align: center;
}
.styledSelect {
    margin:0 auto;
    padding: 0.5% 1%;
    box-sizing:border-box;
    border-radius: 4px;
    margin-bottom: 20px;
}

.row{
    display: block;
    margin:0 auto;
}

.box{
    width: 25%;
    display: block;
    margin:0 auto;
    float: right;
    padding-right: 15px;
    padding-left: 15px;
}
.checkBoxes {
    width: 400px;
    background-color: #ffff00;
    margin:0 auto;
    padding: 0.5% 1%;
    box-sizing:border-box;
    border-radius: 4px;
    margin-bottom: 20px;
}

.multipleDropdownMenu {
    width: 100%;
    margin-bottom: 110px;
    padding: 0.5% 1%;
    box-sizing:border-box;
    border-radius: 4px;
}


/*------checkbox with css only-----*/
.CSSstyledCheckbox {
    width: 25px;
    height: 25px;
    -webkit-appearance: none;
    background-color: #ffffff;
    border: 1px solid #314b5e;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 2px 2px 2px 0px rgba(0,0,0,0.5);
    border-radius: 3px;
    display: inline-block;
    position: relative;
}
.CSSstyledCheckbox:active, .CSSstyledCheckbox:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.CSSstyledCheckbox:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 2px 2px 2px 0px rgba(0,0,0,0.5);
    color: #99a1a7;
}
.CSSstyledCheckbox:checked:after {
    content: '\2714';
    font-size: 16px;
    position: absolute;
    top: 0px;
    left: 4px;
    color: #99a1a7;
}