*{
	margin: 0;
	padding: 0;
}



/*Голубой фон*/

body{
    background: url(img/img_8.jpg);
	background-size: 100%;
	height:1100px;
    width: 1349px;
}


/*Белый фон, тень, родительский блок*/

.container{
   
	height:430px;
    width: 997px;
    position: relative;
    background-color: white;
    margin-left: 13%;
    margin-right: 20%;
    box-shadow: 0 0 20px;
    margin-bottom: 10%;
}

/*Логотип*/

.logo{
	height:164px;
    width: 283px;
    position: absolute;
    top: 0;
    left: 2%;
} 

/*Контакты*/

.contact{
	position: absolute;
    top: 0;
    left: 80%;
	color:#68b4c7;
	margin-top: 10px;
}

/*Флаги, названия стран, ссылки*/

ul.flag{
	position: absolute;
    top: 15%;
    left: 68%;
    list-style: none; 
    font: 12px Tahoma,sans-serif;
    margin-top: 30px;
    margin-left: 0px; 
    padding-left: 0;
    text-align: center;
}

ul.flag li{
    display: inline-block;
    margin-left: 0px;  
    padding-top: 0px;
}

ul.flag p{
	color:#68b4c7;
}

/*Основное фото*/

.foto{
	position: absolute;
    top: 40%;
}

/*Выпадающие меню*/

.menu{
	position: absolute;
    top: 93%;
    left: 0;
    bottom: 61%;
    height:30px;
    width: 997px;
    background: black;
    z-index: 1;
}

ul.dropdown li{
    position: relative; 
    background: black;
}

 ul.dropdown,
 ul.dropdown-inside{
    list-style-type: none;
    padding: 0;
}

 ul.dropdown-inside{
    position: absolute;
    left: -9999px;
}

 ul.dropdown li.dropdown-top{
    display: inline;
    float: left;
    margin: 0 1px 0 3%;
    font-size: 15px Tahoma,sans-serif;
}

 ul.dropdown li.dropdown-top a{
    padding: 3px 10px 4px;
    display: block;
    background: black;
    color: white;
    text-decoration: none; 
}

 ul.dropdown a.dropdown-top{
    background: black;
    color: black;
}

 ul.dropdown a.dropdown-top:hover{ 
 	padding: 2px 10px 5px;
 	font: 15px;
}

 ul.dropdown li.dropdown-top:hover .dropdown-inside{
    display: block;
    left: 0;
}

 ul.dropdown .dropdown-inside{
    background: black; 
}
 ul.dropdown .dropdown-inside a:hover{ 
 	background: black;
}

/*3-х колоночный контент*/

.fon{
    padding-top: 43%;
	width: 997px;
    overflow: hidden;
}

.box{
	width: 25%;
    float: left;
    background: #edeef0;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}

.box1 {
    width: 50%;
    float: left;
    background: white;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}

.box2 {
    width: 25%;
    float: left;
    background: #edeef0;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}

h1{
    text-align: center;
}

/*Копирайт*/

p.copyright{
    text-align: center;
    bottom: 10px;
    left: 40%;
    color: #b5d4e2;
    font-family: Tahoma;
    font-size: 12px;
}







