@font-face {
    font-family: 'Montserrat Regular';
    src: url('../fonts/Montserrat Regular/montserrat-regular-webfont.eot');
    src: url('../fonts/Montserrat Regular/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat Regular/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/Montserrat Regular/montserrat-regular-webfont.woff') format('woff'),
         url('../fonts/Montserrat Regular/montserrat-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('../fonts/Montserrat Bold/montserrat-bold-webfont.eot');
    src: url('../fonts/Montserrat Bold/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat Bold/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/Montserrat Bold/montserrat-bold-webfont.woff') format('woff'),
         url('../fonts/Montserrat Bold/montserrat-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/Roboto Light/roboto-light-webfont.eot');
    src: url('../fonts/Roboto Light/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto Light/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/Roboto Light/roboto-light-webfont.woff') format('woff'),
         url('../fonts/Roboto Light/roboto-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}