body {
    background: url(../img/images.jpg) no-repeat 0 0;
    margin: 0 auto;
	background-size: cover;

}

h1 {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

p {
    text-align: center;
    font-size: 18px;
}

.wrapper {
    height: 500px;
    width: 500px;
    background-color: white;
    margin: 5% auto;
    -webkit-box-shadow: 3px 3px 16px 1px rgba(0,0,0,0.75);
}

.item-list {
    display: block;
    text-align: center;
    height: 375px;
    padding: 65px 0 0 0;
}

.list-item {
    margin: 15px 0;
}

.controlls {
    text-align: center;
    background-color: #473421;
    height: 60px;
    line-height: 10px;
}

.item-value, .item-add {
    margin: 13px 0;
    line-height: 28px;
}

.item-add {
    background-color: #ff0000;
    border: 1px solid white;
    width: 100px;
}

span {
    height: 19px;
    width: 20px;
    background-color: #83531e;
    border: 1px solid #473421;
    margin: 10px 0 0 10px;
    display: inline-block;

}

.item-delete,
.item-edit {
    cursor: pointer;
}

.item-delete:hover,
.item-edit:hover {
    color:#ff0000;
}