<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Babel</title>
        <link rel="stylesheet" href="style/main.css">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script src="lib/template.js"></script>
        <script src="js/dist/script.js"></script>

</head>
<body>
    <button class = "createTest">Проверить мои познания в географии</button>
    <script type="text/html" id="light_test">
		<form action="#" method="post" id="form-test">
			<h1><%= testTitle %></h1>
			<% for(var i = 0; i < questions.length; i++) {%>
				<p><%= (i+1) + '. ' + questions[i].quest %></p>
				<% for(var j = 0; j < questions[i].answers.length; j++) { %>
					<input type="checkbox" id=<%= 'answ' + (i+1) + (j+1) %> name="answ" value="yes"
						<% if(questions[i].answers[j].check) { %> class="correct" <% } %>
					>
					<label for=<%= 'answ' + (i+1) + (j+1) %>><%= questions[i].answers[j].answer %></label>
					<br>
				<% } %>
			<% } %>
			<input id="check_result" type="button" value="Проверить мои результаты"></input>
		</form>
	</script>
	<div class="window_bckgr">
		<div class="modal_content">
			<p class="modal_title">Ваш результат</p>
			<p class="modal_result"></p>
		</div>
	</div>
 	
</body>
</html>		