*{  
	margin: 0;
	padding: 0;
}
body{
	background-color: white;
}
.search-box{
	margin: 0 auto;
	width: 500px;
	text-align:center;
}
#searchtext{
	height: 30px;
	width: 200px;
	font-size:18px;
	margin-bottom: 15px;
}
#search-btn{
	height: 34px;
	width: 150px;
	background-color: #150a75;
	color: #ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	border:none;
	padding-top:8px;
	padding-bottom: 4px;
	cursor: pointer;
}
img{
    width: 300px;
	height: auto;
	border: 15px solid gray;
	margin: 5px;
	vertical-align: top;
}
#results{
	width: 1100px;
    margin: 0 auto;
	text-align: center;
		
}