@font-face {
    font-family: 'lucida';
    src: url('../fonts/l_10646-webfont.eot');
    src: url('../fonts/l_10646-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/l_10646-webfont.woff2') format('woff2'),
         url('../fonts/l_10646-webfont.woff') format('woff'),
         url('../fonts/l_10646-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.clearfix:after{
	content: "";
	clear: both;
}
body {
    background: #ffffff no-repeat center top fixed;
 	background-size: cover;
    font-family: Arial, Sans-serif;
}
a:link, a:visited, a:active {
	text-decoration:none;
	color: #ffffff;
}
.site_body {
	width: 908px;
	margin: 0 auto;

}
.top{
	position: relative;
	margin: 20px 0 9px 1px;
}
.phone{
	display: inline-block;
}
.phone > p{
	display: inline-block;
	margin-left: 30px;
    font-size: 18px;
	letter-spacing: 0.5px;
	color: #5e696d;
	font-family: Arial, Sans-serif;
}
.phone img{
	position: absolute;
	top: 2px;
	left: 5px;
}
.sub_top {
	display: inline-block;
	height: 25px;
	margin-left: 11px;
	padding-left: 3px;
	padding-right: 25px;
	border-radius: 5px;
	background: linear-gradient(to bottom, rgba(89,143,166,1) 0%, rgba(9,37,62,1) 100%);
	box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.5);
}
.sub_top >img {
	position: relative;
	top: 2px;
	border-radius: 5px;
}
.a_log_log:active, .a_log_pass:active, .a_log_log:link, .a_log_pass:link, .a_log_log:visited, .a_log_pass:visited, .sub_top p  {
	color: #ffffff;
	font-size: 11px;
	display: inline-block;
	position: relative;
	top:-5px;
	right:-3px;
}
.a_log_pass {
	letter-spacing: 0.5px;
}
.a_zab_pass {
	font-size: 11px;
	display: inline-block;
	position: relative;
	top:-5px;
	right:-16px;
	letter-spacing:1px;
}

input[type="text"], input[type="password"] {
	display:inline-block;
	position:relative;
	top:-5px; 
	width: 106px;
	height: 12px;
	color: #97a2a6;
	font-size: 11px;
	padding-left: 5px;
	padding-right: 0;
	letter-spacing: 0.5px;
}
.home {
	float:right;
	height:20px;
	border-radius: 10px;
	border:1px solid #bdc4c7;
	margin-top: 1px;
	margin-right: 7px;
	box-sizing: border-box;
	padding-top: 1px;
	padding-left:6px;
	padding-right: 7px;
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);

}
div.home>a {
	display: inline-block;
	margin-right: 2px;
}
header{
    margin: 0 auto;
}
header img{
	display: block;
	margin: 0 auto;
}
.top_lover{
	width: 100%;
	display: inline-block;
	background: linear-gradient(135deg, #2989d8 0%,#3a4046 0%,#3a4046 0%,#3a4046 0%,#3a4046 33%,#020202 100%); 
	border-radius: 4px;
	margin-top: 7px;
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}	
.top_lover ul {
	float: left;
    list-style-type:none;
    height: 30px;
	margin-left: 13.8%;
}
.top_lover li {
	font-size: 13px;
	float: left;
	padding: 10px 7px 7px 26px;
	color: #889194;
	letter-spacing: 0px;
	text-transform: uppercase;
}
.company{
	margin-left: -5px;
}
.contact{
	margin-left: -5px;
}
.top_lover li:hover {
	background-color: #124366;
	border-radius: 15px;
	color: #ffffff;
}
.sub_top_lover {
	float: right;
    margin-top: 3px;
    padding-right: 6px;
	font-size: 11px;
}
.sub_top_lover img{
	position:relative;
	top: 5px;
	left: 4px;
} 
.zero2{
	margin-right: 10px;
} 
.sub_top_lover .sum {
	margin-right: 9px;
	color: white;
}
.zero{
	margin-right: 12px;
}
.sub_top_lover .goods{
	margin-left: 6px;
	color: white;
}
.sub_top_lover span {
	font-size: 12px;
    color: #0d5a8f; 
}
.mid{
	width: 908px;
	height: 150px;
	margin: 0 auto;
	padding-top: 12px; 
}
.mid_1, .mid_2, .mid_3 {

	border: 1px solid #b6b6b7;
	border-radius: 14px;
	box-shadow: 3px 3px 5px 0px rgba(173,173,174,1);
}
.mid_1 {
	width: 410px;
	height: 134px;
	float:left;
	margin-left: 5px;
}	
.mid_2 {
	width: 190px;
	height: 134px;
	float:left;
	margin-left: 15px;
}
.mid_3 {
	width: 265px;
	height: 134px;
	float:left;
	margin-left: 12px;
}
.box{
	margin: 0 auto;
	overflow: hidden;
	font-family: "Lucida Sans Unicode";
}
.mid_left {
	float: left;
}
.mid_left .mid_top {
	width:180px;
	height: 24px;
	border: 1px solid #c0c0c0;
	border-radius: 12px;
	box-shadow: 0px 3px 3px 0px rgba(173,173,174,1);
	font-size: 12px;
	color: rgb(17, 65, 101);
	margin-top: 4px;
	margin-bottom: 14px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 0.4px;
}
.mid_top img{
	display: inline-block;
	float: left;
	width: 22px;
	height: 21px;
	margin: 1px  2px 0;
}
.mid_top_sub_left {
	width:148px;
	height: 24px;
	border: 1px solid #c0c0c0;
	border-radius: 12px;
	margin-top:4px;
	margin-left: 2px;
	line-height: 24px;
}
.mid_top_sub_left img{
	display: inline-block;
	float: left;
	width: 22px;
	height: 21px;
	margin: 1px  3px 0;
	border-radius: 5px;
}
.mid_top_sub_left > p {
	display: inline-block;
	font-size: 12px;
	color: #114165;
	text-transform: uppercase;
	letter-spacing: 1.4px;
}
.mid_top_sub_ul_left {
	margin-left: 50px; 
	list-style-type: circle;
	font-size: 13px;
	color: #114165;
	line-height: 18px;
}
.mid_top_sub_ul_left li {
	margin-top: 6.5px;
	letter-spacing: 0.05px;
	box-sizing: border-box;
}
ul.mid_top_sub_ul_left>li>a {
	margin-left: -3px;
	color: #114165;
}
.mid_top_sub_ul_left li:hover {
	font-weight: bold;
	font-size: 13px;
	text-decoration: underline;
	margin-left: 1px;
	font-style: italic;
	box-sizing: border-box;
}
.center{
    float: left;
	width: 522px;
	background-image:linear-gradient( 90deg, rgba(35,75,93,0.5) 0%, rgba(118,141,151,0.5) 57%, rgba(201,207,209,0.5) 100%);
	border-width: 1px;
	border-color: rgb(36, 42, 60);
	border-radius: 3px;
	margin-left: 11px;
}
.mid_center{
	padding: 15px 0 0 21px;
	height: 188px;
}
.object{
	width: 144px;
	float: left;
	margin-right: 24px;
}
.mid_center .object:last-child{
	margin-right: 0px;
}
.center .mid_center:last-child {
    margin-bottom: 19px;
}
.photo {
	position: relative;
	width:137px;
	height: 128px; 
	border-style: solid;
	border-width: 1px;
	border-color: rgb(164, 174, 177);
	border-radius: 7px;
	background-color: rgb(255, 255, 255);
	margin-bottom: 4px;
}
.photo img {
	position: absolute;
    top: 65px;
    left: 68px;
    transform: translate(-50%, -50%);
	display: block;
	text-align: center;
	line-height: 128px;
}
.object p{
	display: block;
	font-family: "Lucida Sans Unicode";
	font-size: 12.5px;
	color:#000000;
	text-align: center;
	padding-right: 8px;
}
.object p:first-child {
	font-size: 15px;
	color:#206988;
}
.object p:last-child {
	font-family: arial;
	font-weight: bold;
	font-style: italic;
	font-size: 16px;
	color:#114165;
	padding-left: 11px;
}
.object p span {
	font-size: 12px;
}
.mid_right {
	float: left;
	margin-top: 1px;
}
.mid_right .mid_top{
	width:180px;
	height: 24px;
	border: 1px solid #c0c0c0;
	border-radius: 12px;
	box-shadow: 0px 3px 3px 0px rgba(173,173,174,1);
	font-size: 12px;
	color: rgb(17, 65, 101);
	margin-top: 0;
	margin-bottom: 10px;
	margin-left: 10px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 0.4px;
}
.mid_right .mid_top img{
	display: inline-block;
	float: left;
	width: 22px;
	height: 21px;
	margin: 1px  4px 0;
}
.mid_top_sub_right {
	width: 137px;
	height: 24px;
	border: 1px solid #c0c0c0;
	border-radius: 12px;
	margin-top: 16px;
	margin-left: 23px;
	line-height: 24px;
}
.mid_top_sub_right img{
	display: inline-block;
	float: left;
	width: 22px;
	height: 21px;
	margin: 1px  5px 0;
	border-radius: 5px;
}
.mid_top_sub_right > p {
	display: inline-block;
	font-size: 12px;
	color: #114165;
	text-transform: uppercase;
	letter-spacing: 1.4px;
}
.mid_top_sub_ul_right {
    list-style-type: none;
	font-size: 13px;
	color: #114165;
	padding-left: 30px;
	height: 65px;
	margin-bottom: 18px;
	line-height: 11px;
}
.mid_top_sub_ul_right li {
	margin-top: 6.5px;
	letter-spacing: 0.05px;
	box-sizing: border-box;
}
.mid_top_sub_ul_right li p {
	display: inline-block;
	position: relative;
	top:-5px;
	font-size: 12px;
	left:9px;
	letter-spacing: 1px;
}
.regular-checkbox {
	-webkit-appearance: none;
	background-color: #ffffff;
	border: 1px solid #314b5e;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 2px 2px 2px 0px rgba(0,0,0,0.5);
	padding: 5px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}
.regular-checkbox:active, .regular-checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.regular-checkbox:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 2px 2px 2px 0px rgba(0,0,0,0.5);
	color: #99a1a7;
}
.regular-checkbox:checked:after {
	content: '\2714';
	font-size: 8px;
	position: absolute;
	top: 0px;
	left: 2px;
	color: #99a1a7;
}
a.button {
	display: inline-block;
	width: 58px;
	height: 10px;
	padding: 8px 10px;
	border: 1px solid #7a95a1;
	background-image:linear-gradient( -90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
	border-radius: 13px;
	cursor: pointer;
	font-family: arial;
	font-size: 12px;
	color: #ffffff;
	margin: 2px 0 0 35px;
}
.trademarks img{
	display: block;
	margin-top: 32px;
    margin-bottom: 16px;
    margin-right: auto;
    margin-left: auto;
}
footer{
	height: 98px;
	background-color: #213a4d;
	margin: 0 auto;
	color:#ffffff;
	text-align: center;
}
footer div a, footer div p {
	margin-top: 11px;
	display: inline-block;
	
	font-size:14px;
 }
footer div p{
 	margin-left: -2px;
 	margin-right: 8px;
 }
footer div a{
	letter-spacing: 0;
}
footer div a:hover {
	color: #458da9;
}
footer p {
	font-size: 10px;
	margin-top: 15px;
	letter-spacing: 0.15px;
	color: #724542;
}
