* {
	color: white;
	font-family: Tahoma, Arial, sans-serif;
}

body {
	background: url(../img/uzorny_fon.jpg);
	margin: 0;
	width: 100%;
	border: 1px solid transparent;
}

h1 {
	text-align: center;
}

p {
	font-size: 20px;
}

label {
	margin-left: 10px;
	font-size: 14px;
}

input[type='checkbox'] {
	height: 12px;
	width: 12px;
	margin-left: 25px;
}

input[type='button'] {
	display: block;
	height: 38px;
	width: 260px;
	margin: 20px auto 0;
	border: none;
	border-radius: 5px;
	background: #2a1c48;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
}

input[type='button']:hover {
	background: #0000ff;
}

.window_bckgr {
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
}

.modal_content {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 150px;
	width: 350px;
	border-radius: 10px;
	background: white;
	transform: translate(-50%, -50%);
}

.modal_content p {
	margin: 0;
	color: black;
	text-align: center;
}

.modal_title {
	border: 2px solid #555;
	background: linear-gradient(to bottom, #555, #ccc);
	border-top-left-radius: 10px; 
	border-top-right-radius: 10px; 
	line-height: 40px;
}

p.modal_result {
	font-size: 14px;
}

.createTest {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 50px;
	border-radius: 10px;
	background: #48a2d6;
	transform: translate(-50%, -50%);
	font-size: 14px;
}