<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>JS23-24</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">
  <script data-main="js/app.js" src="js/require.js"></script>
</head>
<body>
  
  <script type="text/template" id="wrapper-template">
      <div class="wrapper">
        <h1 class="wrapper-header">To Do List</h1>
        <ul class="item-list"></ul>
        <div class="controlls">
          <input type="text" class="item-value">
          <button class="item-add">Add</button>
        </div>
          
      </div>
    </script>

    <script type="text/template" id="list-template">
      <% for(var i = 0; i < data.length; i++){ %>
        <li>
          <div class="item-text">
            <%= data[i] %>
            <span data-value="<%= data[i] %>" class="item-delete">x</span>
          </div>
        </li>
        <% }; %>
    </script>
    <p>Для редактирования 2 раза кликнуть левой кнопкой мышки</p>
</body>
</html>