
.content_background_transp {
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000); 
}

.header{
	width: 100%;
	background: url(../img/body_bg_top.png) ;
-ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/body_bg_top.png',sizingMethod='scale')";    	

}
