@media screen and (min-width:1350px ) {
.header{
	background-size: cover;
	background-position:  center;
    border-bottom: 1px solid transparent;
 }

}

/********768-960********/
@media screen and (max-width:959px ) {
.box {
	max-width: 748px;
	margin: 0 auto;	
}
.header{
	padding-bottom: 100px;
}
.top_menu {	
	margin-left: -3px;
	float: left;
	text-align: left;
	padding-top: 6px;
}
.home_rol_bar{
	margin-left: -5px;
}
.site_logo{
	padding-top: 53px;
	padding-left: 14px;
}
div.header_content{
    margin-top: 50px;	
}
.header_content_arrow{
	margin: 99px 0 0 34px;
	width: 39.1%;
}
.header_content_arrow h1 {
	font-size: 48px;
	margin-bottom: 8px;	
}
.header_content_arrow h2{
	font-size: 24px;
	margin-bottom: 10px;
	height: 24px;
	overflow: hidden;	
}
.header_content_arrow p {
	font-size: 16px;
	line-height: 26px;
	height: 102px;
	margin-top: -3px;
}
.phone{
	margin-right: 10px;
}
.phone__img {
	margin-top: -3px;
	margin-left: 39%;
}
.content_nav {
	margin-top: 5%;
	margin-right: 17%;
}	
.content{
padding-bottom: 0;
}
.content_lower_content .lower_content_text_phantom {
	display: none;
}
div.content_lower_content{
	margin: 21px 0 65px 14px ;
	width: 30%;
}
div.lower_content_img_1{
	max-width: 16%;
	margin-top: 22px;
	margin-left: 8px;
}
div.lower_content_text {
	margin: 0;
	max-width: 80%;
}
.lower_content_text h2 {
 	font-size: 24px;
 	margin-top: 16px;
 	margin-left: 25px;
}
.lower_content_text p{	
	margin-top: 3px;
	margin-left: 26px;
	height: 146px;
} 
.lower_content_link {
	margin: -16px 16px 0 0;
}
.content_lower_content_move_left{
	padding-left: 15px;
}
.lower_content_img_2{
	background-image: url(../img/lower_content_img_1.png);
	height:24px;
	width:24px;
}
div.lower_content_img_2{
	max-width: 16%;
	margin-top: 22px;
	margin-left: 8px;
}
.content_lower_content_move_right{
	padding-left: 15px;
	text-align: right;
}
.lower_content_img_3{
	background-image: url(../img/lower_content_img_1.png);
	height:24px;
	width:24px;
	background-position: 0 0;
}
div.lower_content_img_3{
	max-width: 16%;
	margin-top: 22px;
	margin-left: 15px;
}
.content_lower_content_move_right .lower_content_link{
	margin-right: 10px;
}
.blog {
	padding-top: 0;
	padding-bottom: 0;
	box-sizing:border-box;
}
div.left_blog {
	width: 46.2%;
	margin-top: 14%;
	margin-left: 34px;
	margin-bottom: 69px;
}
div.left_blog_img {
	margin-left: -25px;
	margin-top: 5px;
}
div.left_blog_text>h2 {
    margin-top: -3px;
    margin-left: 39px;
    font-size: 24px;
}
div.left_blog_text>h2>span{
	display: block;
}
div.left_blog_text>p{
	margin-bottom: 42px;
	height: 143px;
}
div.blog_triangle{
	display: none;
}
.content_nav--white{
	margin-top: 22px;
    margin-left: 33%;
}
.right_blog_link .right_blog_link--read{
	display: none;
}
.right_blog_link .right_blog_link--small{
	display: inline-block;
	margin-right: 17px;
	margin-top: 5px;
}
div.right_blog {
	width: 46%;
	margin-top: 17.5%;
}
ul.right_blog_resent_updates>li {
	margin-bottom: 16px;
}
.blog_img_background_link{
	margin: 25px 23px;
}
.blog_img_background_link--1 {
	margin-left: 0;
}
.blog_img_background_link--6  {
	margin-right: 0;
} 
.categories{
	padding-bottom: 12%;
}
.categories_block_left, .categories_block_center{
	display: none;
}
.categories_block_left-phantom,  .categories_block_center-phantom{
	display: block;
	float: left;
	margin-top: 13.7%;
	margin-left: 9px;
	width:  27%;
	text-align: left;	
}
.categories_block_left-phantom .categories_block__content_left {
    margin-left: 0;
    height: 167px;
}
.categories_block_center-phantom{
	margin-left: 64px;
	width:  28%;
}
.categories_block_right{
	width: 30%;
    margin-top: 13.6%;
    margin-left: 0;
    padding-right: 14px;	
}
.categories_block_left-phantom h2, 
.categories_block_center-phantom h2, 
div.categories_block_right h2{
	font-size: 24px;
}
.footter_background {
	background: url(../img/layer_24_copy.png);
	padding-top: 0;
	padding-bottom: 0;
}
.lower_menu {
	display: block;
	width: 95%;
	margin-left: 10px;
	margin-top: 0;
	padding-top: 27px;
	margin-bottom: 0;
}
ul.home_rol_bar_lower{
	margin-top: 0;
}
.footer_background_designed{
	 margin-top: 29px;
	 margin-bottom: 11%;
	 letter-spacing: 0.5px;
}

}

/*********480-767*********/
@media screen and (max-width:767px ) {
.box {
	max-width: 440px;
	margin: 0 auto;	
}
.site_logo{
	display: block;
	float: none;
	padding-top: 52px;
	text-align: center;
}
.header {
	padding-bottom: 57px; 
}
.header_content_arrow{
	margin: 92px 0 88px 21px;
	width: 46%;
}
.header_content_arrow h1 {
	font-size: 36px;
	margin-bottom: 1px;
	margin-left: 11px;
	margin-top: 3px;
	height: 36px;
}
.header_content_arrow h2 {
	margin-left: 11px;
	font-size: 18px;
	height: 18px;	
}
.header_content_arrow p{
	display: none;
}
.content_nav {
	margin-right: 38%;
}
.top_menu {
	float: none;
	display: block;
	margin-left: 7px;
    margin-top: 25px;
}
.low_res_hidden {
	display:none;
}
ul.home_rol_bar>li>a{
	float: none;
}
ul.home_rol_bar {
	margin-top: 20px;
	width: 244px;
	margin: 0 auto;
}
ul.home_rol_bar a{
	font-size: 24px;
}
ul.home_rol_bar>li {
	width: 240px;
	text-align: center;
	margin-left: 0;
}
ul.home_rol_bar>a:hover { 
	-webkit-box-shadow: inset 0px -2px 0px 0px rgba(237,191,255,1);
	-moz-box-shadow: inset 0px -2px 0px 0px rgba(237,191,255,1);
	box-shadow: inset 0px -2px 0px 0px rgba(237,191,255,1);
}
ul.home_rol_bar>li:hover {
	width: 240px;
	background-color:rgba(68,55,75,0.5);
	border-left:1px solid #000000;
	border-right:1px solid #000000;
	border-top:1px solid #000000;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(54,40,62,1);
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(54,40,62,1);
	box-shadow: inset 0px 1px 0px 0px rgba(54,40,62,1);
	margin: -1px -1px 0 -1px;
	box-sizing: content-box;
}
ul.home_rol_bar>li:hover>ul.home_rol_bar_hidden {
	display: block;
}
div.header_content {
	margin-top: 30px;
	margin-bottom: 0;
}
.phone {
    width: 41%;
	margin-top: -8px;
	margin-bottom:-10.5%;
	margin-right: 0;	
}
.phone__img {
	margin-top: -3px;
	margin-left: 9%;
}
.content {
	padding-top: 59px;
	padding-bottom: 63px;
}
.content_lower_content .lower_content_text_phantom {
	display: none;
}
div.content_lower_content {
	float: left;
	margin: 2px 0px 0 19px ;
	width: 96.5%;
}
.content_lower_content_move_left{
   float: left;
	margin: 2px 0px 0 19px ;
	padding: 0;
	width: 96.5%;
}
div.content_lower_content_move_right{
   float: left;
	margin: 5px 0 0 10px ;
	padding: 0;
	width: 96.5%;
}
.content_lower_content_move_right .lower_content_link{
	margin-right: 5px;
}
.lower_content_text h2{
    font-size: 24px;
}
.lower_content_text p{	
	height: 80px;
} 
.lower_content_link  {
	margin: -15px 14px 6px 0;
}
.blog {
	padding-top: 1%;
	padding-bottom: 0;
	box-sizing:border-box;
}
div.left_blog {
	float: none;
	width: 93.5%;
	margin-top: 14.5%;
	padding-bottom: 0;
	margin-bottom: 0;
}
div.left_blog_triangle {
	display: block;
	max-width: 100%;
}
div.left_blog_text {
	display: inline-block;
	width:96%;
	background-color: #ffffff;
	padding-top: 9px;
}
div.left_blog_text>h2 {
	font-size: 30px;
}
div.left_blog_text>h2>span {
	display: inline-block;
}
div.left_blog_text>p {
 	margin-top: 13px;
    margin-right: 16px;
    margin-bottom: 36px;
	height: 168px;
}
.content_nav--white { 
	width: 92px;
	margin-left: 35%;
	margin-bottom: 0;
	padding-bottom: 0;
}
.right_blog_link .right_blog_link--read{
	display: none;
}
.right_blog_link .right_blog_link--small{
	display: inline-block;
	font-size: 18px;
	margin-top: 7px;
	margin-right: 48px;
}
div.right_blog {
	float: left;
	width: 84%;
	margin-top: 9.5%;
	margin-left: 74px;
	margin-bottom: 88px;
}
.blog_img{
	display: block;
	width: 93%;
	text-align: center;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 13px;
	padding-top: 33px;
	padding-bottom: 10px
}
.blog_img_background_link{
margin:0 42px 15px 32px;
}
.blog_img_background_link--1, .blog_img_background_link--4{
	margin-left: 0;
}
.blog_img_background_link--3, .blog_img_background_link--6 {
	margin-right: 0;
	margin-left: 0;
}
.blog_img_background_link--1 {
	margin-right: 42px;
	margin-bottom: 25px;
	margin-left: 59px;
}
.blog_img_background_link--2 {
	margin-left: 0;
	margin-right: 20px;
	margin-bottom: 25px;
}
.blog_img_background_link--3 {
	margin-left: 33px;
	margin-right: 53px;
	margin-bottom: 25px;
}
.blog_img_background_link--4 {
	margin-left: 30px;
	margin-right: 20px;
	margin-bottom: 25px;
	margin-top: 0;
}
.blog_img_background_link--5 {
	margin-left: 32px;
	margin-right: 42px;
	margin-bottom: 25px;
	margin-top: 0;
}
.blog_img_background_link--6 {
	margin-left: 0;
	margin-right: 47px;
	margin-bottom: 25px;
	margin-top: 0;
}
.categories {
	margin: 0 auto;
	padding-top: 77px;
	padding-bottom: 31px;	
} 
.categories_block_left-phantom h2, 
.categories_block_center-phantom h2, 
div.categories_block_right h2 {
	margin-bottom: 9px;
}
.categories_block_left, .categories_block_center {
	display: none;
}
.categories_block_left-phantom,  
.categories_block_center-phantom, 
.categories_block_right {
	float:  left;
	display: block;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 10px;
	width:  98%;
}
.categories_block_left-phantom .categories_block__content_left,
.categories_block_center-phantom .categories_block__content_center,
.categories_block_right .categories_block__content_right {
    height: 94px;
    margin-bottom: 58px;
}
.categories_block_center-phantom .categories_block__content_center {
	margin-left: 0;
}
.categories_block_right {
    margin-left: 10px;
    padding-right: 0;
}
div.categories_block_right h2 {
	margin-left: 0;
}
.categories_block__content_right {
	margin-left: 0;
}
.footter_background {
	 padding-top: 42px;
	 padding-bottom:38px;
	 text-align: center;
}
.home_rol_bar_lower .low_res_hidden_lower {
	margin: 0 22px 0 0;
}
.home_rol_bar_lower .low_res_hidden_lower:last-child {
	margin: 0 0 0 0;
}
.lower_menu {
	display: block;
	width: 100%;
	margin-left: 1px;
	padding-top: 3px;
}
.footer_background_designed {
	float: none;
	display: inline-block;
	margin-top: 31px;	 
}
div.footer_background_designed>h1 {
	letter-spacing: 0.5px;
	margin: 0 auto;
}
}
/**********0-479*********/
@media screen and (max-width:479px ) {
.box {
	max-width: 280px;
	margin: 0 auto;
}
.top_menu {
	margin-right: 5px;
    background-color: transparent;
	border: 0 solid transparent;
}
ul.home_rol_bar {
		margin-top: 20px;
		margin: 0 auto;
        width: 244px;
}
ul.home_rol_bar a{
	font-size: 28px;
}
ul.home_rol_bar>li {
	width: 240px;
	text-align: center;	
}
ul.home_rol_bar>a:hover { 
	-webkit-box-shadow: inset 0px -2px 0px 0px rgba(237,191,255,1);
	-moz-box-shadow: inset 0px -2px 0px 0px rgba(237,191,255,1);
	box-shadow: inset 0px -2px 0px 0px rgba(237,191,255,1);
}
ul.home_rol_bar>li:hover {
	width: 240px;
	background-color:rgba(68,55,75,0.5);
	border-left:1px solid #000000;
	border-right:1px solid #000000;
	border-top:1px solid #000000;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(54,40,62,1);
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(54,40,62,1);
	box-shadow: inset 0px 1px 0px 0px rgba(54,40,62,1);
	margin: -1px -1px 0 -1px;
	box-sizing: content-box;
}
ul.home_rol_bar>li:hover>ul.home_rol_bar_hidden {
	display: block;
}
.site_logo{
	  float: none;
	  padding-top: 53px;
	  padding-right: 13px;
}
.header {
	padding-bottom: 66px; 
}
.phone{
	display: none;
}
.header_content_arrow{
	margin: 30px 0 0 33px;
	width: 75%;
}
div.header_content {
	background: rgba(0, 0, 0, 0);
	margin-top: 91px;
}
.content_nav {
	margin-top: 70px;
	margin-right: 32%;
}
.content {
	padding-top: 40px;
	padding-bottom: 68px;
}
.lower_content_text p{	
	height: 76px;
} 
.content_lower_content .lower_content_text{
	display: none;
}
.content_lower_content .lower_content_text_phantom{
	display: block;
	margin-top: 0;
	margin-left: 35px;
	height: 82px;
}
div.lower_content_img_1{
	max-width: 16%;
	margin-top: 33px;
	margin-left: 11px;
}
div.lower_content_img_2{
	max-width: 16%;
	margin-top: 31px;
	margin-left: 11px;
}
div.lower_content_img_3{
	max-width: 16%;
	margin-top: 32px;
	margin-left: 12px;
}
.lower_content_link {
	margin: 12px 0 0 0;
}
.content_lower_content_move_right .lower_content_link{
	margin-right: 0;
}
div.content_lower_content {
	margin-left: 0px;
	width: 99%;
	margin-bottom: -4px;
}
div.content_lower_content_move_right{
	margin-top: 13px;
}
div.left_blog {
	width: 95%;
	margin-top: 24%;
	padding-bottom: 27px;
	margin-bottom: 18px;
}
div.left_blog_img {
	margin-left: -36px;
	margin-top: 16px;
	max-width: 21%;
}
div.left_blog_text{
	padding-top: 0;
}
div.left_blog_text>h2 {
	font-size: 23px;
	margin-top: 4px;
	margin-left: 25px;
}
div.left_blog_text>h2>span {
	display: block;
}
div.left_blog_text>p {
 	margin-top: 6px;
    margin-right: 16px;
	height: 168px;
	margin-bottom: 27px;
	margin-left: 40px;
}
.content_nav--white {
	margin-top: 22px;
    margin-left: 32%;
}
div.right_blog {
	float: left;
	width: 100%;
	margin-top: 0%;
	margin-left: 0px;
	margin-bottom: 88px;
}
div.right_blog_resent_updates_text>h2 {
  height: 21px;
  overflow: hidden;
} 
div.right_blog_resent_updates_text>p {
  margin-top: 3px;
  margin-right: -3px;
}
ul.right_blog_resent_updates>li {
	margin-bottom: 18px;
}
.right_blog_link .right_blog_link--small {
	display: inline-block;
	font-size: 18px;
	margin-top: 5px;
	margin-right: 6px;
}
.blog_img {
	padding-left: 0;
	padding-top: 50px;
	padding-bottom: 0;
}
.blog_img_background_link {
	margin: 0px 11% 55px 6%;	
}
.blog_img_background_link--1,
.blog_img_background_link--3,
.blog_img_background_link--5 {
	margin-left: 0;
}
.blog_img_background_link--2,
.blog_img_background_link--4,
.blog_img_background_link--6 {
	margin-right: 0;
}
.categories {
	display: none;
	padding-top: 0;
	padding-bottom: 0;	
} 
.footter_background {
	 padding-top: 0;
}
.lower_menu {
	display: none;
}
.footer_background_designed {
	float: none;
	display: inline-block;
	margin-top: 39px;
	margin-bottom: 62px;
}	 
}


