@font-face {
    font-family: 'league_gothicregular';
    src: url("../fonts/legue_gothik/league-gothic_allfont.ru-webfont.eot");
    src: url("../fonts/legue_gothik/league-gothic_allfont.ru-webfont.eot?#iefix") format('embedded-opentype'),
         url("../fonts/legue_gothik/league-gothic_allfont.ru-webfont.woff2") format('woff2'),
         url("../fonts/legue_gothik/league-gothic_allfont.ru-webfont.woff") format('woff'),
         url("../fonts/legue_gothik/league-gothic_allfont.ru-webfont.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
    
}

@font-face {
    font-family: 'open_sanslight';
    src: url("../fonts/opensans_light_macroman/OpenSans-Light-webfont.eot");
    src: url("../fonts/opensans_light_macroman/OpenSans-Light-webfont.eot?#iefix") format('embedded-opentype'),
         url("../fonts/opensans_light_macroman/OpenSans-Light-webfont.woff") format('woff'),
         url("../fonts/opensans_light_macroman/OpenSans-Light-webfont.ttf") format('truetype'),
         url("../fonts/opensans_light_macroman/OpenSans-Light-webfont.svg#open_sanslight") format('svg');
    font-weight: normal;
    font-style: normal;

}
 @font-face {
    font-family: 'open_sansextrabold';
    src: url("../fonts/opensans_extrabold_macroman/OpenSans-ExtraBold-webfont.eot");
    src: url("../fonts/opensans_extrabold_macroman/OpenSans-ExtraBold-webfont.eot?#iefix") format('embedded-opentype'),
         url("../fonts/opensans_extrabold_macroman/OpenSans-ExtraBold-webfont.woff") format('woff'),
         url("../fonts/opensans_extrabold_macroman/OpenSans-ExtraBold-webfont.ttf") format('truetype'),
         url("../fonts/opensans_extrabold_macroman/OpenSans-ExtraBold-webfont.svg#open_sansextrabold") format('svg');
    font-weight: normal;
    font-style: normal;

}
header, nav, section, article, aside, footer {
   display:block;
}

html, body {
	margin: 0 auto; 
	background-color: #9b87a7;
	font-family:'league_gothicregular';
	height: 100%;
}

.clearfix:after {
   content: ""; 
   clear: both;
   display: table;
   height: 0;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul {
	list-style-type: none;
}
a:link, a:active, a:visited {
 	text-decoration: none;
}
.header{
	margin: 0 auto;
	width: 100%;
	background: url(../img/body_bg_top.png) no-repeat  center;
	padding-bottom: 3.5%; 
	background: cover;
}
.box{
	margin: 0 auto;
	width: 960px;
}
.site_logo{
	float: left;
	display: inline-block;
	padding-top: 51px;
	margin-left: -4px;
}
.top_menu{
	display: block;
	margin: 23px 0;
	padding-top: 5%;
    float: left;
    margin-left: 159px;
}
ul.home_rol_bar {
	display:block;
}
ul.home_rol_bar a{
	color:#ffffff;
	text-transform: uppercase;
}
ul.home_rol_bar>li {
	float:left;
	margin-left: 17px;
}
ul.home_rol_bar>li>a {
	display:inline-block;
	float: left;
	color: #ffffff;
	line-height: 27px;
	font-size: 24px;
	font-family:'league_gothicregular', sans-serif;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}
ul.home_rol_bar li.low_res_hidden{
	margin-left: 51px;
}
ul.home_rol_bar>li>a:hover {
	-webkit-box-shadow: inset 0px -2px 0px 0px rgba(237,191,255,1);
	-moz-box-shadow: inset 0px -2px 0px 0px rgba(237,191,255,1);
	box-shadow: inset 0px -2px 0px 0px rgba(237,191,255,1);
}
ul.home_rol_bar_hidden {
	display:none;
	position: absolute;
    width: 240px; 
    background-color:rgba(68,55,75,0.5);
    border-left:1px solid #000000;
	border-right:1px solid #000000;
	border-bottom:1px solid #000000; 
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	margin:0 auto;
	z-index: 10;
	margin-left:-1px;
}
ul.home_rol_bar_hidden>li {
	display: block;
	text-align: center;
	border-top: 1px solid #523f5a;
	-webkit-box-shadow: 0px -1px 0px 0px rgba(54,40,62,1);
	-moz-box-shadow: 0px -1px 0px 0px rgba(54,40,62,1);
	box-shadow: 0px -1px 0px 0px rgba(54,40,62,1);
}
ul.home_rol_bar_hidden > li > a {
    display: inline-block;
    padding: 2px;
    color: white;
 }

 ul.home_rol_bar_hidden>li:nth-child(1):hover, ul.home_rol_bar_hidden>li:nth-child(2):hover, ul.home_rol_bar_hidden>li:nth-child(3):hover, ul.home_rol_bar_hidden>li:nth-child(4):hover {
 	background-color:rgba(64,36,50,0.5);
 	-webkit-box-shadow: inset 0px -2px 0px 0px rgba(237,191,255,1);
	-moz-box-shadow: inset 0px -2px 0px 0px rgba(237,191,255,1);
	box-shadow: inset 0px -2px 0px 0px rgba(237,191,255,1);
 }
 ul.home_rol_bar_hidden>li:nth-child(5):hover {
 	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color:rgba(64,36,50,0.5);
 	-webkit-box-shadow: inset 0px -1px 0px 0px rgba(237,191,255,1);
	-moz-box-shadow: inset 0px -1px 0px 0px rgba(237,191,255,1);
	box-shadow: inset 0px -1px 0px 0px rgba(237,191,255,1);
 }
 div.header_content {
	width: 100%;
	background: rgba(0, 0, 0, 0.2);
	margin-top: 11.5%;
	display:block;
}
.header_content>div>h1 {
	text-shadow: 0px 2px 2px rgba(150, 150, 150, 1);	
}
.header_content>div>h2 {
	max-width: 93%;	
	text-shadow: 0px 2px 2px rgba(150, 150, 150, 1);
	text-transform: uppercase;
}
.header_content>div>p {
	max-width: 93%;
}
.header_content_arrow{
	display: inline-block;
	float: left;
	text-align: left;	
	margin-top: 8.3%;	
	width:  54.1% ;
}
.header_content_arrow h1{
	margin-left: -2px;
	margin-top: 1px;
	font-family:'league_gothicregular', sans-serif;
	font-size: 58px;
	color: #ffffff;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.header_content_arrow h2{
	margin-left: 0px;
	text-transform: uppercase;
    font-family:'league_gothicregular', sans-serif;
	font-size: 34px;
	color: #edbfff;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	letter-spacing: -0.8px;
}
.header_content_arrow p{
	font-family:'open_sanslight', arial, sans-serif;
	font-size: 18px;
	color: #ffffff;
	line-height: 24px;
	margin-top: 5px;
	margin-left: -3px;
	height: 143px;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}
.phone{
	float: left;
	display:inline-block;
	position: relative;
	margin-top: -19px;
	margin-bottom: -8px;
	width: 39%
}
.phone__img {
	max-height: auto;
	max-width: 100%;
	margin-left: 94px;
}
.content_nav{
	float: right;
	margin-right: 17%;
	margin-top: 10%;
	padding-bottom: 0%;
}
.nav_selector {
	display: inline-block;
	height: 10px;
	width: 10px;
	border:3px solid rgba(0, 0, 0, 0);
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.5);
	margin-right: 5px;
}
.nav_selector:hover {
	border:3px solid rgba(0, 0, 0, 0.8);
	border-radius: 10px;
	background: #fff;
}
.content_background {
	background-repeat: no-repeat;		
	background: rgb(55, 42, 62);
	background: -moz-linear-gradient(270deg, rgb(55, 42, 62) 10%, rgb(118, 83, 132) 90%);
	background: -webkit-linear-gradient(270deg, rgb(55, 42, 62) 10%, rgb(118, 83, 132) 90%);
	background: -o-linear-gradient(270deg, rgb(55, 42, 62) 10%, rgb(118, 83, 132) 90%);
	background: -ms-linear-gradient(270deg, rgb(55, 42, 62) 10%, rgb(118, 83, 132) 90%);
	background: linear-gradient(0deg, rgb(55, 42, 62) 10%, rgb(118, 83, 132) 90%);
	background-size: auto 100%;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(33,51,59,1);
	-moz-box-shadow: 0px 1px 0px 0px rgba(33,51,59,1);
	box-shadow: 0px 1px 0px 0px rgba(33,51,59,1);
	background-image: -moz-linear-gradient(top, #745083, #322539);
	background: linear-gradient(to top, #322539, #745083); 
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#745083,endColorstr=#322539,GradientType=0);
  zoom: 1;
	border-bottom: 1px solid #000000;
}
.content {
	padding-top: 4%;
	padding-bottom: 5%;
	color: #ffffff;
}
.lower_content_img_1 {
	background-image: url(../img/lower_content_img_1.png);
	height:24px;
	width:24px;
}
.lower_content_img_2 {
	background-image: url(../img/lower_content_img_2.png);
	height:23px;
	width:27px;
	background-position: 0 24px;
}
.lower_content_img_3 {
	background-image: url(../img/lower_content_img_3.png);
	height:23px;
	width:23px;
	background-position: 0 48px;
}
div.content_lower_content {
	display: block;
	width: 30%;
	text-align: left;
	float: left;
}
div.content_lower_content>div {
	display: inline-block;
}
div.lower_content_img_1, div.lower_content_img_2 {
	max-width:12%;
	margin-left: 3%;
	margin-top: 12.3%;
	float:left;
}
div.lower_content_text {
	max-width: 80%;
}
.content_lower_content .lower_content_text_phantom {
	display: none;
}
div.lower_content_text_phantom h2{
	margin-left: 27px;
	margin-top: 27px;
	text-transform: uppercase;
	font-size: 24px;
	text-shadow: 0px 1px 0px rgba(15, 21, 24, 0.004);
}
div.lower_content_text_phantom p{
	margin-top: 8px;
	margin-left: 25px;
	font-size: 16px;
	text-shadow: 0px 1px 0px rgba(15, 21, 24, 0.004);	
	font-family:'open_sanslight', arial, sans-serif;
	color: #ffffff;
	line-height: 24px;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	height: 118px;
}
.lower_content_text{
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}
.lower_content_text h2 {
	margin-left: 27px;
	margin-top: 27px;
	text-transform: uppercase;
	font-size: 30px;
	text-shadow: 0px 1px 0px rgba(15, 21, 24, 0.004);
}
.lower_content_link{
	float: right;
}
.lower_content_link h3 {
	text-align: right;
	margin-right: 2px;
	font-size: 19px;
	margin-top: 22px;
	text-transform: uppercase;
	color: #ffffff;
	text-shadow: 0px 1px 0px rgba(15, 21, 24, 0.004);
}
.lower_content_text p{
	margin-top: 8px;
	margin-left: 25px;
	font-size: 16px;
	text-shadow: 0px 1px 0px rgba(15, 21, 24, 0.004);	
	font-family:'open_sanslight', arial, sans-serif;
	color: #ffffff;
	line-height: 24px;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	height: 118px;
}
.content_lower_content_move_left{
	padding-left: 48px;
}
.content_lower_content_move_right{
	padding-left: 48px;
	text-align: right;
}
div.lower_content_img_3{
    max-width:12%;
	margin-left: 4%;
	margin-top: 12.5%;
	float:left;
}
.lower_content_link h3:hover {
	text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
}
.blog_background {
	background-color: #f9f9f9;
	background-size: auto 100%;
	-webkit-box-shadow: inset 0px 10px 7px -7px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    inset 0px 10px 7px -7px rgba(50, 50, 50, 0.75);
	box-shadow:         inset 0px 10px 7px -7px rgba(50, 50, 50, 0.75);
	border-bottom: 1px solid #e6e6e6;
}
.blog {
	padding-top:7.3%;
	padding-bottom: 5.1%;
	box-sizing:border-box;
}
div.left_blog {
	display: block;
	width:49%;
	float: left;
	margin-left: 25px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}
.left_blog_img{
	background-image: url(../img/left_blog_img.png);
	height:50px;
	width:50px;
}
div.left_blog_img {
	max-width: 17%;
	margin-left: -30px;
	margin-top: 8px;
	float: left;
}
div.left_blog_triangle {
	display: block;
	max-width: 100%;
}
div.left_blog_text {
	display: inline-block;
	width:90%;
	background-color: #ffffff;
	padding-top: 9px;
}
div.blog_triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 20px 20px 0;
	border-color: transparent #ffffff transparent transparent;
    float: right;
    margin-right:19%;
}
div.left_blog_text>h2 {
    text-transform: uppercase;
	font-size:30px;
	margin-left: 8%;
	font-family: 'league_gothicregular', arial, sans-serif;
}
div.left_blog_text>h2:first-of-type {
	padding-top: 20px;
	font-family: 'league_gothicregular', arial, sans-serif;
}
div.left_blog_text>p{
	margin: 9px 0 35px 36px;
	font-size: 16px;
	font-family:'open_sanslight', arial, sans-serif;
	line-height: 24px;
	overflow: hidden;
}
div.left_blog_text>h2>span {
	margin-left: 5px;
	color:#f2d1ff;
}
div.right_blog {
	margin-top: 3%;
	width:47.5%;
	float: right;
} 
div.right_blog>h2 {
	font-size: 30px; 
	text-transform: uppercase;
	font-family:'league_gothicregular';
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}
div.right_blog_img, div.right_blog_text {
	display: inline-block;
	float:left;
}
ul.right_blog_resent_updates {
	margin-top: 16px;
}
ul.right_blog_resent_updates>li {
	margin-bottom: 14px;
}
div.right_blog_resent_updates_text {
	line-height: 26px;
}
div.right_blog_resent_updates_text>h2 {
	margin-left: 68px;
	font-size: 16px;
	font-family: 'open_sansextrabold', sans-serif;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}
div.right_blog_resent_updates_text>p {
	margin-left: 68px;
	font-size: 16px;
	max-height:24px;
	font-family:'open_sanslight', sans-serif;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}
.right_blog_link .right_blog_link--read{
    display: inline-block;
	float: right;
    color: rgb(69, 69, 69);
	font-size: 18px;
	font-family:'league_gothicregular';
	font-weight: bold;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
	margin: 12px 26px 0 0;
	text-decoration: none;
}
.right_blog_link .right_blog_link--small{
	margin-right: 8px;
	display: none;
	float: right;
    color: rgb(69, 69, 69);
	font-size: 18px;
	font-family:'league_gothicregular';
	font-weight: bold;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
	margin: 12px 26px 0 0;
	text-decoration: none;
}

.right_blog_link .right_blog_link--read:hover{
	text-decoration: underline;
}
.content_nav--white{
	margin-top: 22px;
    margin-left: 35%;
}
.content_nav--white .nav_selector{
    display: inline-block;
	height: 12px;
	width: 12px;
	border:2px solid rgba(0, 0, 0, 0.2);
	border-radius: 12px;
	background: rgba(255, 255, 255, 1);
	margin-right: 5px;
}
.content_nav--white .nav_selector:hover{
	border:2px solid rgba(255, 255,255, 1);
	border-radius: 12px;
	background: #42444d;
}
.blog_img { 
	width: 100%;
	background: #f9f9f9;
	border-top: 1px solid #fefefe;
	border-bottom: 1px solid #d8d8d8;
}
.blog_img_background{
	text-align: center;
}
.blog_img_background_link{
	display: inline-block;
	text-decoration: none;
	background: url(../img/blog_img.png);
	height: 66px;
	margin: 25px 28px;
}
.blog_img_background_link--1 {
	background-position: 5% 67%;
	width: 77px;
}
.blog_img_background_link--2 {
	background-position: 23% 65%;
	width: 74px;
}
.blog_img_background_link--3 {
	background-position: 41% 65%;
	width: 74px;
	
}
.blog_img_background_link--4 {
	background-position: 58% 65%;
	width: 70px;
}
.blog_img_background_link--5{
	background-position: 79% 65%;
	width: 106px;
}
.blog_img_background_link--6 {
	background-position: 98% 65%;
	width: 79px;
}
a.blog_img_background_link:hover{
	background: rgba(0, 0, 0, 0.05);
}
.categories{
	padding-bottom: 7%;
	width: 100%;
	background: #ececec;
}
.categories_block_left{
	display: block;
	float: left;
	margin-top: 9%;
	padding-right: 56px;
	width:  27%;
	text-align: left;	
}
.categories_block__logo{
    margin-top: 10px;
    margin-left: -7px;
	font-family:'league_gothicregular', arial, sans-serif;
	font-size: 48px;
	line-height: 48px; 
	text-align: left;
	color: #454545;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}
.categories_block__span{
	color: #b9b9b9;
}
.categories_block__copyright{
	display:inline-block; 
	padding-top: 13px;
    margin-left: -7px;
    font-family: "Georgia";
    font-size: 16px;
    color: #c5c5c5;
    font-style: italic;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}
.categories_block__content_left{
	margin-top: 10px;
	margin-left: -7px;
	font-family:'open_sanslight', arial, sans-serif;
	font-size: 16px;
    color: #878787;
	line-height: 24px;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.categories_block_center{
	display: block;
	float: left;
	margin-top: 10%;
	padding-right: 56px;
	width:  27%;
	text-align: left;	
}
div.categories_block_center h2{
	margin-top: 2px;
	margin-left: 17px;
	font-size: 30px;
	color: #454545;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}
.categories_block__content_center{
	margin-top: 8px;
	margin-left: 17px;
	font-family:'open_sanslight', arial, sans-serif;
	font-size: 16px;
    color: #878787;
	line-height: 24px;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.categories_block_left-phantom{
	display: none;
	float: left;
}
.categories_block_center-phantom{
	display: none;
}
.categories_block_left-phantom h2 {
  font-size: 30px;
  color: #454545;
}
.categories_block_center-phantom h2{
  font-size: 30px;
  color: #454545;
}

.categories_block_left-phantom .categories_block__content_left {
  height: 167px;
}
.categories_block_center-phantom .categories_block__content_center {
  height: 167px;
}

.categories_block_right{
	display: block;
	float: right;
	margin-top: 10%;
	padding-right: 56px;
	width:  27%;
	text-align: left;	
}
div.categories_block_right h2{
	margin-top: 2px;
	margin-left: 28px;
	font-size: 30px;
	color: #454545;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}
.categories_block__content_right{
	margin-top: 9px;
	margin-left: 29px;
	font-family:'open_sanslight', arial, sans-serif;
	font-size: 16px;
    color: #878787;
	line-height: 24px;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.footter_background { 
	width: 100%;
	background: url(../img/body_bg_bottom.png) no-repeat center;
}
.lower_menu{
	display: inline-block;
	margin-top: 23px;
    margin-bottom: 42px;
    float: left;
}
ul.home_rol_bar_lower>li>a{
	display:inline-block;
	float: left;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 20px;
	font-family:'league_gothicregular', sans-serif;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
} 
.low_res_hidden_lower{
	display:inline-block;
	margin-right: 40px;
	margin-top: 20px;
}
.footer_background_designed{
	display: inline-block;
	float: right;
	margin-top: 5%;
}
div.footer_background_designed>h1 {
	margin-top: 2px;
	margin-right: 13px;
	font-family: 'open_sanslight', arial, sans-serif;
	font-size: 12px;
	color: #ffffff;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 1);
}
div.footer_background_designed>h1>span {
	font-family: 'open_sanslight', arial, sans-serif;
	font-weight: bold;
	text-shadow: 2px 3px 3px rgba(0, 0, 0, 1);
}
