
/*Голубой фон*/

body{
    background: url(../img/img_8.jpg);
}


/*Белый фон, тень, родительский блок*/

.container{
    margin: 0 auto;
	width: 999px;
    /*width: 74%;*/
    background-color: white;
    box-shadow: 0 0 20px;
    margin-bottom: 20px;
}

/*Логотип*/

.logo{
    float: left;
}
.logo img{

    margin: 10px 0 0 15px;
	
} 

/*Контакты*/

.contact{
    float: right;
    margin-top: 18px;
    margin-right: 20px;
    font-family: 'Tahoma Regular', sans-serif;
    font-size: 14px;
	color: #68b4c7;
}
.contact p{
    margin-left: 65%;
}

/*Флаги, названия стран, ссылки*/


.contact  ul li{
    display: inline-block;
    margin-top: 20px;
    float: right;
    width: 60px;
    text-align: center;
}
.contact a{
    font-family: 'Tahoma Regular' sans-serif;
    font-size: 10px;
    color: #4b9db4;
}

/*Основное фото*/
.foto{
    margin: 0 auto;
    padding: 1px;
}

/*Выпадающие меню*/

.dropdown_menu{

    width: 100%;
    background-color: black;
    border-top: 1px solid #cacbcb;
    /*box-shadow: 0 5px #333;*/
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.75);
    z-index: 1;
    border-bottom: 1px solid #000000;
} 
.dropdown_menu_hor {
    padding-top: 8px;
    padding-left: 35px;
} 
.dropdown_menu_hor li {
    display: inline-block;
    margin-right: 55px;
    /*width: 13%;*/
}
 .dropdown_menu_hor li a {
    position:relative;
    display: block;
    color: white;
    /*height: 28px;*/
    text-decoration: none;
}
.dropdown_menu_ver {
    display: none;
    position: absolute;
   -webkit-padding-start:0px;
    margin-top: -7px;
    padding-top: 1px;
    background-color: black;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}
.dropdown_menu_ver li {
    float:none;
    display:block;
    background:none;
    padding: 5px 0 5px 5px;
    margin-right: 10px;
   
}
.dropdown_menu_ver li  a {
    color: white;
    height: 12px;
}
li:hover ul, li.over ul{
    display:block;
}

/*3-х колоночный контент*/

.fon{
    padding-top: 0;
	width: 100%;
    overflow: hidden;
}

.box{
	width: 25%;
    float: left;
    background: #edeef0;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}

.box1 {
    width: 50%;
    float: left;
    background: white;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}

.box2 {
    width: 25%;
    float: left;
    background: #edeef0;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}

h1{
    text-align: center;
     font-family: 'Tahoma Regular', sans-serif;
     font-weight: bold;
     line-height: 30px;
}

/*Копирайт*/

p.copyright{ 
    padding: 0;
    text-align: center;
    left: 40%;
    color: #b5d4e2;
    font-family: 'Tahoma Regular', sans-serif;
}








