
/*Голубой фон*/

body{
    background: url(../img/img_8.jpg);
	background-size: 100%;
	height:1100px;
    width: 1349px;
}


/*Белый фон, тень, родительский блок*/

.container{
    margin: 0 auto;
	height:430px;
    width: 997px;
    position: relative;
    background-color: white;
    box-shadow: 0 0 20px;
    margin-bottom: 10%;
}

/*Логотип*/

.logo{
	height: 164px;
    width: 283px;
    position: absolute;
    top: 0;
    left: 2%;
} 

/*Контакты*/

.contact{
	position: absolute;
    top: 3%;
    left: 80%;
    font-family: 'Tahoma Regular', sans-serif;
    font-size: 14px;
	color: #68b4c7;
}

/*Флаги, названия стран, ссылки*/

.flag{
	position: absolute;
    top: 25%;
    left: 57%;
    padding: 2px;
}

.flag  ul li{
    display: inline-block;
    width: 60px;
    text-align: center;
}
.flag a{
    font-family: 'Tahoma Regular';
    font-size: 10px;
    color: #4b9db4;
}

/*Основное фото*/

.foto{
	position: absolute;
    top: 45%;
}

/*Выпадающие меню*/

.dropdown_menu {
    height: 28px;
    width: 997px;
    background-color: black;
    border-top: 1px solid #cacbcb;
    box-shadow: 0px 5px #333;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    z-index: 1;
    position: absolute;
    top:93%;
    border-bottom: 1px solid #000000;
} 
.dropdown_menu_hor {
    padding-top: 8px;
    padding-left: 65px;
} 
.dropdown_menu_hor li {
    float:left;
    margin-right: 50px;
}
 .dropdown_menu_hor li a {
    position:relative;
    display: block;
    color: white;
    height: 28px;
    text-decoration: none;
}
.dropdown_menu_ver {
    display: none;
    position: absolute;
   /* -webkit-padding-start:0px;*/
    margin-top: -7px;
    padding-top: 1px;
    background-color: black;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}
.dropdown_menu_ver li {
    float:none;
    display:block;
    background:none;
    padding: 5px 0px 5px 5px;
    margin-right: 10px;
   
}
.dropdown_menu_ver li  a {
    color: white;
    height: 12px;
}
li:hover ul, li.over ul{
    display:block;
}

/*3-х колоночный контент*/

.fon{
    padding-top: 43%;
	width: 997px;
    overflow: hidden;
}

.box{
	width: 25%;
    float: left;
    background: #edeef0;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}

.box1 {
    width: 50%;
    float: left;
    background: white;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}

.box2 {
    width: 25%;
    float: left;
    background: #edeef0;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}

h1{
    text-align: center;
     font-family: 'Tahoma Regular', sans-serif;
     font-weight: bold;
     line-height: 30px;
}

/*Копирайт*/

p.copyright{
    text-align: center;
    bottom: 10px;
    left: 40%;
    color: #b5d4e2;
    font-family: 'Tahoma Regular', sans-serif;
}








